@import url('http://fonts.cdnfonts.com/css/proxima-nova-2');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #e6e9f2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.customSquare {
  list-style-image: url('../images/squareDecorator.svg');
}
